$mainColor: rgb(30, 30, 30);
.App {
	text-align: center;
	width: 100%;
	overflow: hidden;
}
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba($mainColor, 0.8);
}
.games {
	margin-top: 45px;
	background-color: rgba($mainColor, 1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	.game-box {
		width: 24.7vw;
		max-height: 450px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		box-sizing: border-box;
		border: 2px solid rgba($mainColor, 1);

		&:hover {
			img {
				max-height: 500px;
				transition: 0.3s;
			}
		}
		img {
			transition: 0.1s;
			max-height: 450px;
		}
		h3 {
			width: 100%;
			color: rgba(whitesmoke, 1);
			background-color: rgba(black, 0.8);
			position: absolute;
			left: 0;
			top: 0;
			margin: 0;
			text-shadow: 0 0 5px rgba($mainColor, 0.9);
		}
	}
}


.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
